# This is an example Forwardfile
# Taken from https://forwardhq.com/help/using-forward/getting-started#cli

# Set the port to forward
port: 5000

# Set the host/vhost to forward
# host: example.dev

# Set a static subdomain prefix to use
# (e.g. myapp-yourcompany.fwd.wf)
# subdomain_prefix: myapp

# Set a CNAME to use
# cname: foo.example.com

# Set a username and password
# username: foo
# password: bar

# Disable auth on this tunnel (useful if you have
# "require authentication" enabled in your preferences)
no_auth: true