"*":
  core:
    allowPendingPaneItems: false
    closeDeletedFileTabs: true
    customFileTypes:
      "text.ignore": [
        ".dockerignore"
      ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-property-list"
      "language-toml"
      "language-xml"
      "welcome"
      "circle-ci"
      "language-typescript"
      "test-gutter"
      "linter-php"
      "language-vue"
      "busy-signal"
      "atom-elixir"
      "autocomplete-atom-api"
      "autosave"
      "language-less"
      "language-rust-bundled"
      "rspec3-snippets"
      "phoenix-elixir-snippets"
      "language-elixir"
      "package-generator"
      "language-coffee-script"
      "deprecation-cop"
      "markdown-preview"
      "atom-menu-patch-for-catalina"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".DS_Store"
      "log"
      "repositories"
      "tmp"
      "vendor/bundle"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/lenn4rd/hndw"
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "neon-drakula-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Fira Code"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 79
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 2
    tabType: "soft"
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "git-diff":
    showIconsInEditorGutter: true
  "go-plus":
    panelDisplayMode: "closed"
  linter: {}
  "linter-eslint":
    useGlobalEslint: true
  "linter-ui-default": {}
  "make-executable": {}
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "markdown-preview-plus":
    grammars: [
      "source.gfm"
      "source.gfm.jinja"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
    ]
    syncConfig:
      syncEditorOnPreviewScroll: true
      syncPreviewOnChange: true
      syncPreviewOnEditorScroll: true
    useGitHubStyle: true
  "markdown-writer":
    fileExtension: ".md"
  "pg-formatter":
    pgFormatterOptions:
      functionCase: "lowercase"
      keywordCase: "uppercase"
      spaces: 2
  "release-notes":
    viewedVersion: "0.89.0"
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  rspec: {}
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "split-diff":
    ignoreWhitespace: true
    turnOffSoftWrap: true
  "terraform-fmt":
    fmtOnSave: false
  "tree-view":
    hideIgnoredNames: true
  "tree-view-git-status":
    gitFlow:
      enabled: false
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".json.source":
  editor:
    tabType: "soft"
".source.yaml":
  editor:
    autoIndent: true
    autoIndentOnPaste: false
