"*":
  core:
    allowPendingPaneItems: false
    closeDeletedFileTabs: true
    customFileTypes:
      "text.ignore": [
        ".dockerignore"
      ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-property-list"
      "language-toml"
      "language-xml"
      "welcome"
      "circle-ci"
      "language-typescript"
      "language-gfm"
      "rspec-snippets"
      "test-gutter"
      "pg-formatter"
      "remote-atom"
      "linter-php"
      "language-vue"
      "language-elixir"
      "busy-signal"
      "atom-elixir"
    ]
    excludeVcsIgnoredPaths: false
    followSymlinks: false
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".DS_Store"
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    openEmptyEditorOnStart: false
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "neon-drakula-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Fira Code"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 2
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "go-plus":
    panelDisplayMode: "closed"
  linter: {}
  "linter-eslint":
    useGlobalEslint: true
  "linter-ui-default": {}
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "markdown-writer":
    fileExtension: ".md"
  "pg-formatter":
    pgFormatterOptions:
      functionCase: "lowercase"
      keywordCase: "uppercase"
      spaces: 2
  "release-notes":
    viewedVersion: "0.89.0"
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "tree-view":
    hideIgnoredNames: true
  "tree-view-git-status":
    gitFlow:
      enabled: false
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".json.source":
  editor:
    tabType: "soft"
".source.yaml":
  editor:
    autoIndentOnPaste: true
